.crackedSeed {

    width:150px;

    position:absolute;

    pointer-events: none;

    top: 80%;

    user-select: none;

    filter:
    drop-shadow(0 0 15px rgba(255,210,80,.5));
    
    animation: crackGlow 2s ease-in-out infinite;

}

@keyframes crackGlow {

    0% {

        filter: 
        drop-shadow(0 0 10px rgba(255, 210, 80, .4));

    }

    50% {

        filter: 
        
        drop-shadow(0 0 35px rgba(255, 210, 80, 1));
        
    }

    100% {

        filter: 
        
        drop-shadow(0 0 10px rgba(255, 210, 80, .4));
        
    }
}