.storyQuote {

    position: absolute;

    top: clamp(140%, 150%, 160%);

    transform: translateX(-50%);

    width: min(90vw, 700px);

    max-width: 700px;

    font-family: "Cormorant Garamond", serif;

    font-style: italic;

    text-align: center;

    line-height: 1.5;

    letter-spacing: 2px;
    
    z-index: 10;

    text-shadow: 

    0 0 15px rgba(255, 215, 120, .4);

}

.storyQuote p {

    font-family: "Cormorant Garamond", serif;

    font-size: 32px;

    color: #F6E7C8;

    

}

.storyQuote strong {

    font-size: 40px;

    font-weight: 600;

    color: #FFD86B;

}

@media (max-width: 768px) {

    .storyQuote {

        top: 180%;

        width: 90%;

    }

    .storyQuote p {

        font-size: 20px;

        line-height: 1.5;

    }

    .storyQuote strong {

        font-size: 24px;

    }
    
}