.memoryCarousel {

    width: 100%;

    display: flex;

    justify-content: center;

    margin-top: 70px;
}

.carouselWrapper {

    position: relative;

    display: flex;

    align-items: center;

    justify-content: center;

    height: 550px;

    width: 100%;

}

.memoryCard {

    flex-shrink: 0;

    position: absolute;

    overflow: hidden;

    border-radius: 20px;

    will-change: transform, opacity;

    transition: 
        transform .55s cubic-bezier(.22, .61, .36, 1),
        opacity .45s ease,
        filter .45s ease;
        box-shadow: .45s ease;

}

.currentCard {

    position: relative;

    touch-action: manipulation;

    height: 570px;

    z-index: 5;

    cursor: pointer;

    transform: translateX(0);

    width: 360px;

    display: flex;

    flex-direction: column;

    align-items: center;

    padding: 24px;

    border-radius: 24px;

    background: rgba(255, 255, 255, .92);

    backdrop-filter: blur(10px);

    box-shadow: 
        0 25px 60px rgba(0, 0, 0, .18);

    overflow: hidden;

    transition:

        transform .45s ease,
        
        box-shadow .45s ease,

        opacity .35s ease;

}

.currentCard:hover:not(.currentExpanded) {

    transform: translateY(-8px);

}

.currentCard:hover {

    box-shadow:

        0 30px 60px rgba(0, 0, 0, .18);

    transition: .35s;
}

.currentCard:active {

    transform: translateY(-2px);

}

.memoryCard img {

    width: 100%;

    border: 14px;

    height: 100%;

    object-fit: cover;

    border-radius: 5px;
}

.firstLeft,
.firstRight {

    width:360px;

    height:480px;

    padding: 30px;

    border-radius: 24px;

    background: rgba(255, 255, 255, .92);

    backdrop-filter: blur(10px);

    box-shadow: 
        0 25px 60px rgba(0, 0, 0, .18);

    opacity: .75;

    touch-action: none;

    filter: blur(.4px);

    z-index:3;

}


.secondLeft,
.secondRight {

    width: 360px;

    height: 480px;

    opacity: .45;

    padding: 30px;

    touch-action: none;

    border-radius: 24px;

    background: rgba(255, 255, 255, .92);

    backdrop-filter: blur(10px);

    box-shadow: 
        0 25px 60px rgba(0, 0, 0, .18);

    filter: blur(1px);

    z-index:2;

}

.firstLeft {

    transform:

        translateX(-370px)

        perspective(800px)

        rotateY(15deg)

        scale(.92);

    z-index:4;

}


.firstRight {

    transform:

        translateX(370px)

        perspective(800px)

        rotateY(-15deg)

        scale(.92);

    z-index:4;

}

.secondLeft {

    transform:

        translateX(-710px)

        perspective(800px)

        rotateY(-15deg)

        scale(.75);


    z-index:3;

    opacity:.45;

}


.secondRight {

    transform:

        translateX(710px)

        perspective(800px)

        rotateY(15deg)

        scale(.75);

    z-index:3;

    opacity:.45;

}

.carouselWrapper button {

    width: 34px;

    height: 34px;

    border: none;

    color: #7B1E1E;

    background: none;

    border-radius: 50%;

    cursor: pointer;

    font-size: 34px;

    transition:
        transform .25s ease,
        opacity .25s ease;

    z-index: 999;
}

.carouselWrapper button:hover {

    transform: scale(1.15);

    opacity: .75;
}

.carouselWrapper button:active {

    transform: scale(.92);
    
}

.memoryTitle {

    font-family: "Cormorant Garamond", serif;

    font-size: 2rem;

    color: #7B1E1E;
    
    font-weight: 600;

    margin-bottom: 8px;

}

.memoryDividerCarousel {

    width: 320px;

    height: 1px;

    background: rgba(123, 30, 30, .25);

    margin-bottom: 20px;

}

.currentCard img {

    width: 100%;

    border-radius: 16px;

    display: block;
}

.memoryDate {

    margin-top: 16px;

    color: #7B1E1E;

    font-weight: 500;

    letter-spacing: .5px;

}

.photoOverlay {

    margin-top: 18px;

    width: 100%;

    padding: 14px;

    border-radius: 14px;

    background: rgba(0, 0, 0, .05);

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 8px;

    cursor: pointer;

    transition: .3s;

}

.photoOverlay:hover {
    
    background: rgba(0, 0, 0, .08);

}

.expandIcon {

    font-size: 18px;

    transition: .3s;

}

.disabledCard {

    pointer-events: none;

}

.animateCarousel.next .memoryCard,
.animateCarousel.prev .memoryCard{

    transition:
        transform .45s cubic-bezier(.22,.61,.36,1),
        opacity .45s ease;

}

/* NEXT ANIMATION */

.animateCarousel.next .secondRight {

    animation: moveSecondRightNext .45s ease forwards;

}

.animateCarousel.next .firstRight {

    animation: moveFirstRightNext .45s ease forwards;

}

.animateCarousel.next .currentCard {

    animation: moveCurrentNext .45s ease forwards;

}

.animateCarousel.next .firstLeft {

    animation: moveFirstLeftNext .45s ease forwards;

}


/* PREVIOUS ANIMATION */

.animateCarousel.prev .secondLeft {

    animation: moveSecondLeftPrev .45s ease forwards;

}

.animateCarousel.prev .firstLeft {

    animation: moveFirstLeftPrev .45s ease forwards;

}

.animateCarousel.prev .currentCard {

    animation: moveCurrentPrev .45s ease forwards;

}

.animateCarousel.prev .firstRight {

    animation: moveFirstRightPrev .45s ease forwards;

}

/* Incoming card hidden outside */

.incomingRight {

    width:360px;

    height:480px;

    padding:30px;

    border-radius:24px;

    background:rgba(255,255,255,.92);

    backdrop-filter:blur(10px);

    box-shadow:
        0 25px 60px rgba(0,0,0,.18);

    opacity:.45;

    filter:blur(1px);

    transform:

        translateX(1050px)

        perspective(800px)

        rotateY(15deg)

        scale(.75);

    z-index:1;

}

.animateCarousel.next .secondLeft {

    animation: secondLeftExit .45s ease forwards;

}


@keyframes secondLeftExit {

    from {

        transform:

            translateX(-710px)

            perspective(800px)

            rotateY(-15deg)

            scale(.75);

        opacity:.45;

    }


    to {

        transform:

            translateX(1050px)

            perspective(800px)

            rotateY(15deg)

            scale(.75);

        opacity:0;

    }

}

.animateCarousel.next .secondRight {

    animation: secondRightToFirstRight .45s ease forwards;

}


@keyframes secondRightToFirstRight {

    from {

        transform:

            translateX(710px)

            perspective(800px)

            rotateY(15deg)

            scale(.75);

    }


    to {

        transform:

            translateX(370px)

            perspective(800px)

            rotateY(-15deg)

            scale(.92);

    }

}


/* Papasok sa secondRight */

.incomingRight.next {

    animation: incomingNext .45s ease forwards;

}

.incomingLeft {

    width:360px;

    height:480px;

    padding:30px;

    border-radius:24px;

    background:rgba(255,255,255,.92);

    backdrop-filter:blur(10px);

    box-shadow:
        0 25px 60px rgba(0,0,0,.18);

    opacity:.45;

    filter:blur(1px);

    transform:

        translateX(-1050px)

        perspective(800px)

        rotateY(-15deg)

        scale(.75);

    z-index:1;

}


.incomingLeft.prev {

    animation: incomingPrev .45s ease forwards;

}

.animateCarousel.prev .secondRight {

    animation: secondRightExitPrev .45s ease forwards;

}

/* =========================
   PREVIOUS ANIMATION
========================= */


/* 2nd Right exits */

.animateCarousel.prev .secondRight {

    animation: secondRightPrev .45s ease forwards;

}


@keyframes secondRightPrev {

    from {

        transform:

            translateX(710px)

            perspective(800px)

            rotateY(15deg)

            scale(.75);

        opacity:.45;

    }


    to {

        transform:

            translateX(1050px)

            perspective(800px)

            rotateY(15deg)

            scale(.75);

        opacity:0;

    }

}



/* First Right becomes Second Right */

.animateCarousel.prev .firstRight {

    animation: firstRightPrev .45s ease forwards;

}


@keyframes firstRightPrev {

    from {

        transform:

            translateX(370px)

            perspective(800px)

            rotateY(-15deg)

            scale(.92);

    }


    to {

        transform:

            translateX(710px)

            perspective(800px)

            rotateY(15deg)

            scale(.75);

    }

}



/* Current becomes First Right */

.animateCarousel.prev .currentCard {

    animation: currentPrev .45s ease forwards;

}


@keyframes currentPrev {

    from {

        transform:

            translateX(0)

            scale(1);

    }


    to {

        transform:

            translateX(370px)

            perspective(800px)

            rotateY(-15deg)

            scale(.92);

    }

}



/* First Left becomes Current */

.animateCarousel.prev .firstLeft {

    animation: firstLeftPrev .45s ease forwards;

}


@keyframes firstLeftPrev {

    from {

        transform:

            translateX(-370px)

            perspective(800px)

            rotateY(15deg)

            scale(.92);

    }


    to {

        transform:

            translateX(0)

            scale(1);

    }

}



/* Second Left becomes First Left */

.animateCarousel.prev .secondLeft {

    animation: secondLeftPrev .45s ease forwards;

}


@keyframes secondLeftPrev {

    from {

        transform:

            translateX(-710px)

            perspective(800px)

            rotateY(-15deg)

            scale(.75);

        opacity:.45;

    }


    to {

        transform:

            translateX(-370px)

            perspective(800px)

            rotateY(15deg)

            scale(.92);

        opacity:.75;

    }

}


@keyframes secondRightExitPrev {

    from {

        transform:

            translateX(710px)

            perspective(800px)

            rotateY(15deg)

            scale(.75);

    }


    to {

        transform:

            translateX(1050px)

            perspective(800px)

            rotateY(15deg)

            scale(.75);

        opacity:0;

    }

}


@keyframes incomingPrev {

    from {

        transform:

            translateX(-1050px)

            perspective(800px)

            rotateY(-15deg)

            scale(.75);

    }

    to {

        transform:

            translateX(-710px)

            perspective(800px)

            rotateY(-15deg)

            scale(.75);

    }

}


@keyframes incomingNext {


    from {

        transform:

            translateX(1050px)

            perspective(800px)

            rotateY(15deg)

            scale(.75);

    }


    to {

        transform:

            translateX(710px)

            perspective(800px)

            rotateY(15deg)

            scale(.75);

    }

}

/* ========================= */
/* NEXT COVER FLOW MOVEMENT */
/* ========================= */


@keyframes moveSecondRightNext {

    from {

        transform:
            translateX(710px)
            perspective(800px)
            rotateY(15deg)
            scale(.75);

    }

    to {

        transform:
            translateX(370px)
            perspective(800px)
            rotateY(-15deg)
            scale(.92);

    }

}



@keyframes moveFirstRightNext {

    from {

        transform:
            translateX(370px)
            perspective(800px)
            rotateY(-15deg)
            scale(.92);

    }

    to {

        transform:
            translateX(0)
            perspective(800px)
            rotateY(0deg)
            scale(1);

    }

}



@keyframes moveCurrentNext {

    from {

        transform:
            translateX(0)
            perspective(800px)
            rotateY(0deg)
            scale(1);

    }

    to {

        transform:
            translateX(-370px)
            perspective(800px)
            rotateY(15deg)
            scale(.92);

    }

}



@keyframes moveFirstLeftNext {

    from {

        transform:
            translateX(-370px)
            perspective(800px)
            rotateY(15deg)
            scale(.92);

    }

    to {

        transform:
            translateX(-710px)
            perspective(800px)
            rotateY(-15deg)
            scale(.75);

    }

}

@media (max-width: 768px) {

    .carouselWrapper {

        height: 500px;

        overflow: visible;

    }

    .currentCard {

        width: 280px;

        height: 470px;

    }

    .firstLeft,
    .firstRight {

        width: 230px;

        height: 400px;

        padding: 30px;

        border-radius: 24px;

        background: rgba(255, 255, 255, .92);

        backdrop-filter: blur(10px);

        box-shadow: 
            0 25px 60px rgba(0, 0, 0, .18);

        filter: blur(1px);

        opacity: .6;

    }

    .firstLeft {

        transform:

            translateX(-145px)

        perspective(800px)

        rotateY(20deg)

        scale(.88);

    }

    .firstRight {

        transform:

            translateX(145px)

        perspective(800px)

        rotateY(-20deg)

        scale(.88);

    }

    .secondLeft,
    .secondRight {

        width: 160px;

        height: 300px;

        padding: 15px;

        border-radius: 20px;

        opacity: .45;

        filter: blur(.8px);

    }

    .secondLeft {

    transform:

        translateX(-300px)

        perspective(800px)

        rotateY(-15deg)

        scale(.72);

    z-index:2;

    }

    .secondRight {

    transform:

        translateX(300px)

        perspective(800px)

        rotateY(15deg)

        scale(.72);

    z-index:2;

    }

    /* =====================
   MOBILE COVER FLOW ANIMATION
===================== */


@keyframes secondRightToFirstRight {

    from {

        transform:
            perspective(800px)
            translateX(300px)
            rotateY(15deg)
            scale(.72);

    }

    to {

        transform:
            perspective(800px)
            translateX(145px)
            rotateY(-20deg)
            scale(.88);

    }

}



@keyframes moveFirstRightNext {

    from {

        transform:
            perspective(800px)
            translateX(145px)
            rotateY(-20deg)
            scale(.82);

    }

    to {

        transform:
            perspective(800px)
            translateX(0)
            rotateY(0deg)
            scale(1);

    }

}



@keyframes moveCurrentNext {

    from {

        transform:
            perspective(800px)
            translateX(0)
            rotateY(0deg)
            scale(1);

    }

    to {

        transform:
            perspective(800px)
            translateX(-145px)
            rotateY(20deg)
            scale(.88);

    }

}



@keyframes moveFirstLeftNext {

    from {

        transform:
            perspective(800px)
            translateX(-145px)
            rotateY(20deg)
            scale(.88);

    }

    to {

        transform:
            perspective(800px)
            translateX(-300px)
            rotateY(-15deg)
            scale(.65);

    }

}

@keyframes secondLeftPrev {

    from {

        transform:
            perspective(800px)
            translateX(-300px)
            rotateY(-15deg)
            scale(.72);

    }

    to {

        transform:
            perspective(800px)
            translateX(-145px)
            rotateY(20deg)
            scale(.88);

    }

}



@keyframes firstLeftPrev {

    from {

        transform:
            perspective(800px)
            translateX(-145px)
            rotateY(20deg)
            scale(.88);

    }

    to {

        transform:
            perspective(800px)
            translateX(0)
            rotateY(0deg)
            scale(1);

    }

}



@keyframes currentPrev {

    from {

        transform:
            perspective(800px)
            translateX(0)
            rotateY(0deg)
            scale(1);

    }

    to {

        transform:
            perspective(800px)
            translateX(145px)
            rotateY(-20deg)
            scale(.88);

    }

}



@keyframes firstRightPrev {

    from {

        transform:
            perspective(800px)
            translateX(145px)
            rotateY(-20deg)
            scale(.88);

    }

    to {

        transform:
            perspective(800px)
            translateX(300px)
            rotateY(15deg)
            scale(.72);

    }

}

    
}